body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px; /* Ancho del contenedor */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 8px; /* Menor relleno */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Hacer los inputs más estrechos */
    box-sizing: border-box;
    font-size: 14px; /* Texto más pequeño */
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    width: 80%; /* Hacer el botón más estrecho */
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
